{% extends "layout.html" %} {% block content %}
<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-center">About WeatherWise</h1>
        <p class="text-center">
            WeatherWise is an application designed to provide accurate and
            up-to-date weather information. Our mission is to help users plan
            their day and stay informed about the weather conditions in their
            area. We use data from the OpenWeatherMap API to deliver reliable
            weather forecasts and alerts.
        </p>
    </div>
</div>
{% endblock %}
