{% extends "layout.html" %} {% block content %}
<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-center">User Profile</h1>
        <form id="profile-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter your username"
                />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="profile-email"
                    placeholder="Enter your email"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter your password"
                />
            </div>
            <button type="submit" class="btn btn-primary">
                Update Profile
            </button>
        </form>
    </div>
</div>
{% endblock %}
